{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

        <div id="container" class="content">


            <div class="container-fluid">

            <div class="row">
             <form id="search_doc" action="{% url 'find_doc' %}" method="POST" class="search_icon">
                {% csrf_token %}
                    <div class="col-sm-12">
                    <div class="input-group">
                      <input id="query" name='query' type="text" class="form-control" placeholder="Найти документ">
                      <span class="input-group-btn">
                        <button id='search_ok' class="btn vol_button" type="submit">Поиск</button>
                      </span>
                    </div>
                    </div>
            </form>
            </div>

            <div>
            <h1>Творчество Льва Толстого</h1>
            </div>
            <div class="col-sm-12">

                <a href="{% url 'show_data' %}"><button id="all" class="btn mybutton">Всё</button></a>
                <a href="{% url 'chud' %}"><button id="chud" class="btn mybutton">Художественная литература</button></a>
                <a href="{% url 'volums' %}"><button id="volums" class="btn mybutton">90-томное собрание сочинений</button></a>
                <a href="{% url 'public' %}"><button id="public" class="btn mybutton">Публицистика</button></a>
                <a href="{% url 'diaries' %}"><button id="diaries" class="btn mybutton">Дневники</button></a>
            </div>
            <div class="col-sm-12">
                <a href="{% url 'letters' %}"><button id="letters" class="btn mybutton">Письма</button></a>
                <a href="{% url 'children' %}"><button id="children" class="btn mybutton">Детская литература</button></a>
                <a href="{% url 'church' %}"><button id="church" class="btn mybutton">Церковно-богословская литература</button></a>

            </div>
            </div>


            <div id="volms" class="container-fluid">

                <p></p>

                {% for vol in volums %}
                <div class="col-sm-3 one_doc one_volum">

                   <a href="./data/download/{{vol}}" target="_blank">
                   <img class="one_vol" src="{% static 'leo_tolstoy/images/note.png' %}" style="cursor:pointer; padding:1em">
                   <p class="vol_{{vol}}">Том {{vol}}</p>

                   </a>

                </div>
                {% endfor %}

            </div>

            <div id="all_works" class="container-fluid all_works">

                {% if check == 1 %}

                <div id="download_all" style="padding:2em">
                <a href="{% url 'files_download' tag='all' %}" target="_blank"><button class="btn head_search">Скачать все произведения одним файлом</button></a>
                </div>
                <p></p>

                {% endif %}

                {% for work in works %}

                   <div class="col-sm-3 one_doc {{work.sphere}}">

                   <a href="./data/download/{{work.filename}}" target="_blank">
                   <img class="doc" src="{% static 'leo_tolstoy/images/note.png' %}" style="cursor:pointer; padding:1em">
                   <p class="one_work">{{work.name}}</p>
                   </a>

                   </div>
                {% endfor %}


                {% if works.paginator %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if works.has_previous %}
                                <a href="?page={{ works.previous_page_number }}"><< </a>
                            {% endif %}

                            <span class="current">
                                Страница {{ works.number }} из {{ works.paginator.num_pages }}
                            </span>

                            {% if works.has_next %}
                                <a href="?page={{ works.next_page_number }}"> >></a>
                            {% endif %}
                        </span>
                    </div>

                {% endif %}

            </div>

        </div>



{% endblock %}