{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

        <div id="container" class="content">


            <!--<div class="search_icon">-->
            <!--<img id="show_search" src="{% static 'leo_tolstoy/images/search_data.png' %}"-->
                 <!--style="cursor:pointer; padding:1em">-->
            <!--</div>-->

            <div class="container-fluid">

            <div class="row"><form action="#" class="search_icon">
            <div class="col-sm-12">
            <div class="input-group">
              <input id="query" type="text" class="form-control" placeholder="Найти документ">
              <span class="input-group-btn">
                <button id='search_ok' class="btn vol_button" type="submit">Ок!</button>
              </span>
            </div>
            </div>
            </form></div>

            <div>
            <h1>Творчество Льва Толстого</h1>
            </div>
            <div class="col-sm-12">

                <button id="all" class="btn mybutton"><a href="#">Всё</a></button>
                <button id="chud" class="btn mybutton"><a href="#">Художественная литература</a></button>
                <button id="volums" class="btn mybutton"><a href="">90-томное собрание сочинений</a></button>
                <button id="public" class="btn mybutton"><a href="">Публицистика</a></button>
                <button id="diaries" class="btn mybutton"><a href="">Дневники</a></button>
            </div>
            <div class="col-sm-12">
                <button id="letters" class="btn mybutton"><a href="">Письма</a></button>
                <button id="children" class="btn mybutton"><a href="">Детская литература</a></button>
                <button id="church" class="btn mybutton"><a href="">Церковно-богословская литература</a></button>

            </div>
            </div>


            <div id="volms" class="container-fluid" style="display:none">

                <p></p>

                {% for vol in volums %}
                <div class="col-sm-3 one_doc one_volum">

                   <a href="./data/download/vol{{vol}}" target="_blank">
                   <img id="one_vol" src="{% static 'leo_tolstoy/images/note.png' %}" style="cursor:pointer; padding:1em">
                   <p id="vol_{{vol}}">Том {{vol}}</p>

                   </a>

                </div>
                {% endfor %}

            </div>

            <div id="all_works" class="container-fluid">

                <div id="download_all" style="padding:2em">
                <a href="{% url 'files_download' tag='all' %}" target="_blank"><button class="btn head_search">Скачать все произведения одним файлом</button></a>
                </div>
                <p></p>

                {% for work in works %}

                <div class="col-sm-3 one_doc {{work.sphere}}">

                   <a href="./data/download/{{work.filename}}" target="_blank">
                   <img id="one_doc" src="{% static 'leo_tolstoy/images/note.png' %}" style="cursor:pointer; padding:1em">
                   <p class="one_work">{{work.name}}</p>

                   </a>
                </div>

                {% endfor %}

            </div>

        </div>



{% endblock %}