<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="ru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Толстой поиск</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'leo_tolstoy/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'leo_tolstoy/css/main_style.css' /%}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
</head>
{% load staticfiles %}
<body>


<!-- <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="col-xs-12 col-sm-12 info-block">

                 <h1 style="padding-bottom:1em">Лев Толстой</h1>

            <div class="row">
                <div class="col-xs-12 col-sm-6">

                <a href="{% url 'show_data' %}">
                    <h2>Произведения писателя</h2>
                    <p>Скачать данные в формате XML</p>
                </a>

              </div>
              <div class="col-xs-12 col-sm-6">

                <a href="{% url 'search_main' %}">
                    <h2>Поиск по тексту</h2>
                    <p>Найди любой отрывок произведения Л.Н.Толстого по 90-томному собранию сочинений.</p>
                </a>

               </div>
            </div>

                <div id='myglyphicon' class="row" style="margin-top:4em">
                <span class="glyphicon glyphicon-heart" style="cursor:pointer" aria-hidden="true"></span>
               </div>

           <div id="myform" style="display:none">

               <form action="{% url 'feedback' %}" method="POST">
                   {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name='email' class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                   <div class="form-group">
                    <label for="exampleTextarea">Сообщение</label>
                    <textarea class="form-control" name="message" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  <button type="submit" id="clickme" style="color:black">OK</button>
               </form>
               <div class="thanks"></div>
           </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Сайт создан при поддержке Государственного музея Л.Н.Толстого и <a href="https://hse.ru">Высшей школы экономики</a>.<br>
                  Создано при финансовой поддержке Российского Фонда Фундаментальных Исследований (РФФИ), проект N 15-06-99523.<br>
                  <em><a href="https://vk.com/alenusch93">by Alenush</a></em>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
</div> -->
<div class="container-fluid" style="background:url({% static 'leo_tolstoy/images/mybook.jpeg' %}) no-repeat 100%;
  background-size:cover;
  padding-top:10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;">

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 info-block">

            <h1 style="padding-bottom:1em;font-size:55px">Лев Толстой</h1>

            <div class="row">
                <div class="center-block col-xs-12 col-sm-6">

                <a href="{% url 'show_data' %}">
                    <h1>Произведения писателя</h1>
                    <h3>Скачать данные в формате XML</h3>
                </a>

              </div>
              <div class="col-xs-12 col-sm-6">

                <a href="{% url 'search_main' %}">
                    <h1>Поиск по тексту</h1>
                    <h3>Найди любой отрывок произведения Л.Н.Толстого по 90-томному собранию сочинений.</h3>
                </a>

               </div>
            </div>

                <div id='myglyphicon' class="row" style="margin-top:4em">
                <span class="glyphicon glyphicon-heart" style="cursor:pointer" aria-hidden="true"></span>
               </div>

           <div id="myform" style="display:none">

               <form action="{% url 'feedback' %}" method="POST">
                   {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name='email' class="form-control" style="color:black;font-size:20px;font-weight:bold;" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                   <div class="form-group">
                    <label for="exampleTextarea">Сообщение</label>
                    <textarea class="form-control" style="color:black;font-size:20px;font-weight:bold;" name="message" id="exampleTextarea" rows="3"></textarea>
                  </div>
                  <button type="submit" id="clickme" style="color:black">Oтправить</button>
               </form>
               <div class="thanks"></div>
           </div>

        </div>
    </div>

    <footer class="footer" style="padding: 3em">

        <hr>
        <p>Сайт создан при поддержке <b>Государственного музея Л.Н.Толстого</b> и <b><a href="https://hse.ru">Национально-исследовательского Университета "Высшая Школа Экономики"</a></b>.<br>
            Создано при финансовой поддержке Российского Фонда Фундаментальных Исследований (РФФИ), проект N 15-06-99523.<br>
            <em><a href="https://github.com/Alenush/tolstoy_search">by Alenush</a></em>
        </p>

    </footer>

</div>
</div>


<script type="text/javascript" src="{% static 'leo_tolstoy/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'leo_tolstoy/js/search.js' %}"></script>

 {% block javascript %}
<script>
    $("#email").change(function () {

        var email = $(this).val();
        console.log(email);
      $.ajax({
            url: '{% url "ajax_call" %}',
            data: {
              'email': email
            },
            dataType: 'json',
            success: function (data) {
                console.log("SUCCESS");
                if (data.is_taken) {
                    alert("Ой. Вы нам уже писали сообщение. Хотите ещё? ;)");
                    }
                else{
                    console.log('BAD');
                }
            }
      });

    });
  </script>
{% endblock %}

</body>
</html>
