{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

<div class="container-fluid">
<div class="row">


    <h1>Результаты поиска</h1>

    <div class="col-sm-12">
    <!--style="text-align:left"-->

        <div class="col-sm-12 doc_results">

            <h4>Запрос:<b> {{ query }}</b></h4>
            <h4>Всего найдено <b>{{ len }}</b> документов.</h4>
            <hr>


            {% for doc in res_docs %}
                <h4 style="padding-bottom:1em">
                    <span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    {{ doc.name }}</h4>
            {% endfor %}

        </div>

    </div>

</div>
</div>

{% endblock %}