{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

<div class="container">
<div class="row">


    <h1>Результаты поиска</h1>

    <div class="col-sm-12">
    <!--style="text-align:left"-->

        <div class="col-sm-12 doc_results">

            <h2>Запрос:<i> {{ query }}</i></h2>
            <h2>Всего найдено <b>{{ len }}</b> документов.</h2>
            <hr>


            {% for doc in res_docs %}
            <h2 style="padding-bottom:1em">
                    <span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    <b>{{ doc.name }}</b>. <span style="align:right"> {{ doc.source }} </span> </h2>
            {% endfor %}


             <!--{% if res_docs.paginator %}-->

                    <!--<div class="pagination">-->
                        <!--<span class="step-links">-->
                            <!--{% if res_docs.has_previous %}-->
                                <!--<a href="?page={{ res_docs.previous_page_number }}"><< </a>-->
                            <!--{% endif %}-->

                            <!--<span class="current">-->
                                <!--Страница {{ res_docs.number }} из {{ res_docs.paginator.num_pages }}-->
                            <!--</span>-->

                            <!--{% if res_docs.has_next %}-->
                                <!--<a href="?page={{ res_docs.next_page_number }}"> >></a>-->
                            <!--{% endif %}-->
                        <!--</span>-->
                    <!--</div>-->

                <!--{% endif %}-->

        </div>

    </div>

</div>
</div>

{% endblock %}