{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

<div class="container-fluid">
<div class="row">


    <h1>Результаты поиска</h1>

    <div class="col-sm-12">
    <!--style="text-align:left"-->

        <div class="col-sm-12 doc_results">

            <h4><i>Запрос: 1980 год, художественная</i></h4>
            <h4><i>Всего найдено 0 документов.</i></h4>
            <hr>


                <h4 style="padding-bottom:1em">
                    <span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    Анна Кареннина Роман в восьми частях Часть X </h4>
                <h4 style="padding-bottom:1em"><span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    Анна Кареннина Роман в восьми частях Часть XV </h4>
                <h4 style="padding-bottom:1em"><span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    Анна Кареннина Роман в восьми частях Часть V </h4>
                <h4 style="padding-bottom:1em"><span class="glyphicon glyphicon-ok" style="color:#4285F4;"></span>
                    Анна Кареннина Роман в восьми частях Часть IV </h4>

        </div>

    </div>

</div>
</div>

{% endblock %}