{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

<div class="container-fluid"><div class="row">
<div class="col-sm-12">

    <h1>Результаты поиска</h1>

    <div class="col-sm-12">


        <h4 style="text-align:left">Всего найдено <b>{{ match }}</b> совпадений.В <b>{{ len }}</b> документах.</h4>
        <h4 style="text-align:left"><i>Запрос: <b>{{ query }}</b></i></h4>

        {% if len != 0 %}

            {% for name, paragraph, volum, source in res_docs %}
        <div class="col-sm-12 results_out">

            <div class="col-sm-10">
                <h2><a href="#">{{ name }}</a></h2>
                <p><a href="#">{{ paragraph }}</a></p>
            </div>
            <div class="col-sm-2">
                <h4>Том №{{ volum }}</h4>
                <button type="button" class="btn head_search"
                 data-toggle="modal" data-target="#myModal{{forloop.counter0}}">Cite</button>
            </div>
        </div>


          <div class="modal fade" id="myModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Процитировать</h4>
              </div>
              <div class="modal-body">
                {{source}}
              </div>
              <div class="modal-footer">

                <!--<button type="button" class="btn btn-warning" id="copy-button" data-clipboard-target="#post-shortlink">Копировать</button>-->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>


              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}

        <hr>
        <div style="padding:2em">

            <h4>Ничего не нашлось =(</h4>
        </div>

        {% endif %}

</div>
</div></div>

{% endblock %}