{% extends "fish_template.html" %}

{% block content %}

{% load staticfiles %}

<div class="container-fluid"><div class="row">
<div class="col-sm-12">

    <h1>Результаты поиска</h1>

    <div class="col-sm-12">

        <h4 style="text-align:left">Всего найдено 0 совпадений.</h4>

        <div class="col-sm-12 results_out">

            <div class="col-sm-10">
                <h2><a href="#">Произведение</a></h2>
                <p><a href="#">кусочек текста как ссылка.кусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылка кусочек текста как ссылка. кусочек текста как ссылка</a></p>
            </div>
            <div class="col-sm-2">
                <h4>Том 1</h4>
                <button type="button" class="btn head_search">Cite</button>
            </div>
        </div>


        <div class="col-sm-12 results_out">
            <div class="col-sm-10">
                <h2><a href="#">Произведение</a></h2>
                <p><a>кусочек текста как ссылка</a></p>
            </div>
            <div class="col-sm-2">
                <h4>Том 1</h4>
                <button type="button" class="btn head_search">Cite</button>
            </div>

        </div>



        <div class="col-sm-12 results_out">

            <div class="col-sm-10">
                <h2><a href="#">Произведение</a></h2>
                <p><a href="#">кусочек текста как ссылка.кусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылка кусочек текста как ссылка. кусочек текста как ссылка</a></p>
            </div>
            <div class="col-sm-2">
                <h4>Том 1</h4>
                <button type="button" class="btn head_search">Cite</button>
            </div>
        </div>


        <div class="col-sm-12 results_out">

            <div class="col-sm-10">
                <h2><a href="#">Произведение</a></h2>
                <p><a href="#">кусочек текста как ссылка.кусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылкакусочек текста как ссылка кусочек текста как ссылка. кусочек текста как ссылка</a></p>
            </div>
            <div class="col-sm-2">
                <h4>Том 1</h4>
                <button type="button" class="btn head_search">Cite</button>
            </div>
        </div>


    </div>


</div>
</div></div>

{% endblock %}