* {
    font-family: 'Cormorant Garamond', serif;
    font-size: 15pt;
}

h1 {
    font-size:55px;
}


/* Links */
a, a:focus, a:hover {
  color: #333;
  text-decoration: none;
}

/*
 * Base structure
 */

html,body {
  height: 100%;
  padding:auto;
}

body {
  text-align: center;
  color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 1em;
}
.inner p{
 color: #333;
}

/*
 * Header

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.masthead-nav{
    background-color: black;
    opacity: 0.7;
    border-radius: 30px 30px 30px 30px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2em;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 26px;
  color: #fff;
  /*border-bottom: 1px solid transparent;*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
  border-bottom-color: #fff;
  text-decoration: underline;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: center;
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  /*font-weight: bold;*/
}
.cover-heading {

    padding-bottom: 1em;
}

/* Footer */

.footnote {
    border-top: 1px solid grey;
    padding: 1em;
}


/* Buttons */

.mybutton {
    background-color: #5a95f5; /* #4285F4; */
    color: white;
    border: 1px solid #fff;
    margin-top: 1em;
    font-size: larger;
}
.mybutton > a{
    color: white;
}
/* Custom default button */
.mybutton:hover,
.mybutton:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #333;
  text-align: center;
}


.head_search {
  color: #333;
  text-shadow: none;
  background-color: #FFDA46;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 1em;
  font-size: large;
  padding:0.7em;
}


/* Blocks */

.info-block {
    color: #fff;
    background-color: #333;
    opacity: 0.7;
    padding: 2em;
    height: 200px;
}

.one_doc{
    padding: 2em;
    height: 150px;
}

.one_doc p{
    color: black;
}

/* Up button */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	bottom: 20px;
	background:url("../images/up.png") no-repeat center 50%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.search_doc{
	float: right;
	width:20%;
}

.vol_button {
    background-color:#EDEBDA;
    font-size:large;
}

.results_out{

    border-top: 1px solid #EEEEEE;
    padding: 1em;
    float: left;
    text-align: left;
    margin-bottom: 1em;
}

.results_out h2 a{
    color: #4285F4;
    font-size: 33pt;}

.doc_results {
    padding: 1em;
    /* border: 1px solid grey;*/
    color: black;
    margin-bottom: 2em;
    text-align: left;
}

.doc_results p, span{
    font-size: 24px;
}

.doc_results h1, h2, h3{
    text-align:center;
}

.all_works {
    padding-bottom: 2em;
}

.form-control {
    height: 40pt;
    font-size: 15pt;
}

.ui-datepicker, #ui-datepicker-div {
  width: auto;
  height: auto;
  margin: 5px auto 0;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker .ui-datepicker-header {
    background: #EDEBDA;
}

.ui-state-default .ui-widget-content{
     background: #EDEBDA;
}

.note {
    font-style: italic;
    color: blue;
}

.right, .Obrashenie, .epigraph {
    font-style: italic;
}

